@layer components {
    @font-face {
        font-family: 'Material Symbols Rounded';
        font-style: normal;
        font-weight: 100 700;
        src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v177/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
    }

    i {
        font-family: 'Material Symbols Rounded';
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    }

    i.filled {
        font-family: 'Material Symbols Rounded';
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    }

    i,
    i.filled {
        @apply antialiased font-normal inline-block leading-none normal-case not-italic select-none tracking-normal whitespace-nowrap;
    }
}