@using CS2Launcher.AspNetCore.App.Pages.Dashboard

@page "/"

<PageTitle>CS2Launcher</PageTitle>

<PageMain Heading="Dashboard">
    <section class="gap-4 grid grid-cols-2">
        <_Tile Icon="@IconName.Terminal" Path="/console" Title="Console" />
        <_Tile Icon="@IconName.Map" Path="/maps" Title="Maps" />
        <_ProcessTile />
    </section>
</PageMain>